html, body {
  height: 100%;
}

h1 {
  margin: 0;
}

main {
  background: url('../images/yard.png') no-repeat;
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
}

.cat-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;

}

.guestlist {
  width: 250px;
  height: 150px;
  margin-left: 500px;
  margin-top: 30px;
  border: 5px solid green;
  background-color: rgba(255,255,255,0.8);
  border-radius: 20px;
  color: black;
}



#cat0 {
  top: 360px;
  left: 110px;
}

#cat1 {
  top: 200px;
  right: 150px;
}

#cat2 {
  top: 440px;
  right: 210px;
}

#cat3 {
  top: 140px;
  left: 135px;
}
#cat3 img {
  width: 170px;
  height: 100px;
}

#cat4 {
  top: 60px;
  left: 20px;
}
#cat4 img {
  width: 70px;
  height: 80px;
}
}